<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>J</key>
      <integer>50</integer>
      <key>T</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>-40</integer>
      <key>public.kern2.O_left</key>
      <integer>-20</integer>
      <key>public.kern2.V_left</key>
      <integer>-10</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>slash</key>
      <integer>-50</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>T</key>
      <integer>20</integer>
      <key>backslash</key>
      <integer>40</integer>
      <key>slash</key>
      <integer>-50</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>T</key>
      <integer>40</integer>
      <key>X</key>
      <integer>20</integer>
      <key>backslash</key>
      <integer>50</integer>
      <key>slash</key>
      <integer>-20</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>T</key>
      <integer>40</integer>
      <key>backslash</key>
      <integer>50</integer>
      <key>public.kern2.n_left</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <integer>-20</integer>
      <key>public.kern2.v_left</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>T</key>
      <integer>20</integer>
      <key>backslash</key>
      <integer>40</integer>
      <key>slash</key>
      <integer>-30</integer>
    </dict>
    <key>I</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
      <key>slash</key>
      <integer>-50</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>T</key>
      <integer>50</integer>
      <key>X</key>
      <integer>20</integer>
      <key>Y</key>
      <integer>20</integer>
      <key>Z</key>
      <integer>20</integer>
      <key>backslash</key>
      <integer>90</integer>
      <key>public.kern2.V_left</key>
      <integer>20</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>backslash</key>
      <integer>50</integer>
      <key>slash</key>
      <integer>-20</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>J</key>
      <integer>40</integer>
      <key>M</key>
      <integer>20</integer>
      <key>T</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>-60</integer>
      <key>public.kern2.H_left</key>
      <integer>0</integer>
    </dict>
    <key>M</key>
    <dict>
      <key>backslash</key>
      <integer>-40</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>backslash</key>
      <integer>10</integer>
      <key>public.kern2.n_left</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <integer>-20</integer>
      <key>public.kern2.v_left</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-60</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>slash</key>
      <integer>-50</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>backslash</key>
      <integer>10</integer>
      <key>slash</key>
      <integer>-40</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>T</key>
      <integer>40</integer>
      <key>X</key>
      <integer>30</integer>
      <key>Y</key>
      <integer>30</integer>
      <key>Z</key>
      <integer>30</integer>
      <key>backslash</key>
      <integer>60</integer>
      <key>public.kern2.V_left</key>
      <integer>30</integer>
      <key>slash</key>
      <integer>-30</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>S</key>
      <integer>30</integer>
      <key>T</key>
      <integer>70</integer>
      <key>X</key>
      <integer>40</integer>
      <key>Y</key>
      <integer>30</integer>
      <key>Z</key>
      <integer>30</integer>
      <key>backslash</key>
      <integer>60</integer>
      <key>public.kern2.V_left</key>
      <integer>30</integer>
      <key>public.kern2.n_left</key>
      <integer>-40</integer>
      <key>public.kern2.o_left</key>
      <integer>-40</integer>
      <key>public.kern2.v_left</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-40</integer>
      <key>slash</key>
      <integer>-60</integer>
      <key>x</key>
      <integer>-40</integer>
      <key>z</key>
      <integer>-40</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>S</key>
      <integer>30</integer>
      <key>T</key>
      <integer>40</integer>
      <key>backslash</key>
      <integer>30</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-10</integer>
      <key>S</key>
      <integer>20</integer>
      <key>T</key>
      <integer>30</integer>
      <key>backslash</key>
      <integer>40</integer>
      <key>public.kern2.n_left</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <integer>-20</integer>
      <key>public.kern2.v_left</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-60</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>S</key>
      <integer>30</integer>
      <key>T</key>
      <integer>30</integer>
      <key>backslash</key>
      <integer>60</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>A</key>
      <integer>100</integer>
      <key>I</key>
      <integer>60</integer>
      <key>J</key>
      <integer>90</integer>
      <key>M</key>
      <integer>120</integer>
      <key>S</key>
      <integer>90</integer>
      <key>X</key>
      <integer>130</integer>
      <key>Y</key>
      <integer>60</integer>
      <key>Z</key>
      <integer>125</integer>
      <key>f</key>
      <integer>140</integer>
      <key>i</key>
      <integer>140</integer>
      <key>j</key>
      <integer>140</integer>
      <key>public.kern2.H_left</key>
      <integer>80</integer>
      <key>public.kern2.O_left</key>
      <integer>60</integer>
      <key>public.kern2.V_left</key>
      <integer>80</integer>
      <key>public.kern2.h_left</key>
      <integer>140</integer>
      <key>public.kern2.n_left</key>
      <integer>140</integer>
      <key>public.kern2.o_left</key>
      <integer>150</integer>
      <key>public.kern2.v_left</key>
      <integer>140</integer>
      <key>s</key>
      <integer>140</integer>
      <key>t</key>
      <integer>140</integer>
      <key>x</key>
      <integer>180</integer>
      <key>z</key>
      <integer>160</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>backslash</key>
      <integer>-10</integer>
      <key>f</key>
      <integer>10</integer>
      <key>t</key>
      <integer>10</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>backslash</key>
      <integer>-15</integer>
      <key>f</key>
      <integer>10</integer>
      <key>slash</key>
      <integer>20</integer>
      <key>t</key>
      <integer>10</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>backslash</key>
      <integer>140</integer>
      <key>f</key>
      <integer>30</integer>
      <key>public.kern2.h_left</key>
      <integer>40</integer>
      <key>t</key>
      <integer>15</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>backslash</key>
      <integer>-50</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>backslash</key>
      <integer>-50</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>backslash</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.H_right</key>
    <dict>
      <key>T</key>
      <integer>0</integer>
      <key>X</key>
      <integer>0</integer>
      <key>Y</key>
      <integer>0</integer>
      <key>Z</key>
      <integer>0</integer>
      <key>backslash</key>
      <integer>0</integer>
      <key>public.kern2.V_left</key>
      <integer>0</integer>
      <key>slash</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.O_right</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>i</key>
      <integer>-10</integer>
      <key>j</key>
      <integer>-10</integer>
      <key>public.kern2.n_left</key>
      <integer>-10</integer>
      <key>public.kern2.o_left</key>
      <integer>-10</integer>
      <key>public.kern2.v_left</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-10</integer>
      <key>slash</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.V_right</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>S</key>
      <integer>20</integer>
      <key>T</key>
      <integer>30</integer>
      <key>backslash</key>
      <integer>50</integer>
      <key>public.kern2.n_left</key>
      <integer>-40</integer>
      <key>public.kern2.o_left</key>
      <integer>-20</integer>
      <key>public.kern2.v_left</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-60</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.n_right</key>
    <dict>
      <key>backslash</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.o_right</key>
    <dict>
      <key>backslash</key>
      <integer>-40</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>backslash</key>
      <integer>-50</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>backslash</key>
      <integer>-50</integer>
      <key>t</key>
      <integer>10</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>backslash</key>
      <integer>-30</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>A</key>
      <integer>-80</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>backslash</key>
      <integer>50</integer>
      <key>f</key>
      <integer>20</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>backslash</key>
      <integer>-40</integer>
    </dict>
  </dict>
</plist>
