<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>W</key>
	<dict>
		<key>a</key>
		<integer>-90</integer>
		<key>c</key>
		<integer>-90</integer>
		<key>d</key>
		<integer>-90</integer>
		<key>e</key>
		<integer>-90</integer>
		<key>f</key>
		<integer>-45</integer>
		<key>g</key>
		<integer>-90</integer>
		<key>i</key>
		<integer>-35</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>m</key>
		<integer>-65</integer>
		<key>n</key>
		<integer>-65</integer>
		<key>o</key>
		<integer>-90</integer>
		<key>p</key>
		<integer>-65</integer>
		<key>q</key>
		<integer>-90</integer>
		<key>r</key>
		<integer>-65</integer>
		<key>s</key>
		<integer>-65</integer>
		<key>t</key>
		<integer>-45</integer>
		<key>u</key>
		<integer>-65</integer>
		<key>v</key>
		<integer>-65</integer>
		<key>w</key>
		<integer>-65</integer>
		<key>x</key>
		<integer>-65</integer>
		<key>z</key>
		<integer>-65</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>f</key>
		<integer>-30</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>e</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-45</integer>
		<key>public.kern2.ij</key>
		<integer>-40</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>f</key>
		<integer>-35</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>public.kern2.ij</key>
		<integer>-40</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>f</key>
		<integer>-35</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>f</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>public.kern2.ij</key>
		<integer>-40</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>f</key>
		<integer>-35</integer>
		<key>public.kern2.ij</key>
		<integer>121</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>f</key>
		<integer>-45</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>f</key>
		<integer>-35</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
		<key>t</key>
		<integer>-20</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>f</key>
		<integer>-35</integer>
		<key>public.kern2.ij</key>
		<integer>121</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>a</key>
		<integer>-35</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>-45</integer>
		<key>g</key>
		<integer>-25</integer>
		<key>h</key>
		<integer>-20</integer>
		<key>k</key>
		<integer>-35</integer>
		<key>l</key>
		<integer>-20</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>public.kern2.ij</key>
		<integer>-45</integer>
		<key>public.kern2.qp</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-35</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>f</key>
		<integer>-35</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>f</key>
		<integer>-35</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>f</key>
		<integer>-45</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
		<key>t</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>c</key>
		<integer>-15</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-37</integer>
		<key>h</key>
		<integer>-10</integer>
		<key>k</key>
		<integer>-20</integer>
		<key>l</key>
		<integer>-10</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>f</key>
		<integer>-35</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.Fvowel</key>
	<dict>
		<key>a</key>
		<integer>-80</integer>
		<key>c</key>
		<integer>-80</integer>
		<key>d</key>
		<integer>-70</integer>
		<key>e</key>
		<integer>-80</integer>
		<key>f</key>
		<integer>-45</integer>
		<key>g</key>
		<integer>-90</integer>
		<key>i</key>
		<integer>-45</integer>
		<key>j</key>
		<integer>-70</integer>
		<key>m</key>
		<integer>-45</integer>
		<key>n</key>
		<integer>-45</integer>
		<key>o</key>
		<integer>-90</integer>
		<key>p</key>
		<integer>-45</integer>
		<key>q</key>
		<integer>-70</integer>
		<key>r</key>
		<integer>-45</integer>
		<key>s</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-45</integer>
		<key>u</key>
		<integer>-45</integer>
		<key>v</key>
		<integer>-45</integer>
		<key>w</key>
		<integer>-45</integer>
		<key>x</key>
		<integer>-45</integer>
		<key>z</key>
		<integer>-45</integer>
	</dict>
	<key>public.kern1.Tvowel</key>
	<dict>
		<key>a</key>
		<integer>-155</integer>
		<key>c</key>
		<integer>-155</integer>
		<key>d</key>
		<integer>-155</integer>
		<key>e</key>
		<integer>-155</integer>
		<key>f</key>
		<integer>-77</integer>
		<key>g</key>
		<integer>-155</integer>
		<key>i</key>
		<integer>-155</integer>
		<key>j</key>
		<integer>-155</integer>
		<key>m</key>
		<integer>-155</integer>
		<key>n</key>
		<integer>-155</integer>
		<key>o</key>
		<integer>-160</integer>
		<key>p</key>
		<integer>-155</integer>
		<key>q</key>
		<integer>-155</integer>
		<key>r</key>
		<integer>-155</integer>
		<key>s</key>
		<integer>-155</integer>
		<key>t</key>
		<integer>-77</integer>
		<key>u</key>
		<integer>-155</integer>
		<key>v</key>
		<integer>-155</integer>
		<key>w</key>
		<integer>-155</integer>
		<key>x</key>
		<integer>-155</integer>
		<key>z</key>
		<integer>-155</integer>
	</dict>
	<key>public.kern1.Wvowel</key>
	<dict>
		<key>a</key>
		<integer>-90</integer>
		<key>c</key>
		<integer>-90</integer>
		<key>d</key>
		<integer>-90</integer>
		<key>e</key>
		<integer>-90</integer>
		<key>f</key>
		<integer>-45</integer>
		<key>g</key>
		<integer>-90</integer>
		<key>i</key>
		<integer>-35</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>m</key>
		<integer>-65</integer>
		<key>n</key>
		<integer>-65</integer>
		<key>o</key>
		<integer>-90</integer>
		<key>p</key>
		<integer>-65</integer>
		<key>q</key>
		<integer>-90</integer>
		<key>r</key>
		<integer>-65</integer>
		<key>s</key>
		<integer>-65</integer>
		<key>t</key>
		<integer>-45</integer>
		<key>u</key>
		<integer>-65</integer>
		<key>v</key>
		<integer>-65</integer>
		<key>w</key>
		<integer>-65</integer>
		<key>x</key>
		<integer>-65</integer>
		<key>z</key>
		<integer>-65</integer>
	</dict>
	<key>public.kern1.Yvowel</key>
	<dict>
		<key>a</key>
		<integer>-120</integer>
		<key>c</key>
		<integer>-120</integer>
		<key>d</key>
		<integer>-120</integer>
		<key>e</key>
		<integer>-120</integer>
		<key>f</key>
		<integer>-65</integer>
		<key>g</key>
		<integer>-120</integer>
		<key>i</key>
		<integer>-65</integer>
		<key>j</key>
		<integer>-65</integer>
		<key>m</key>
		<integer>-90</integer>
		<key>n</key>
		<integer>-90</integer>
		<key>o</key>
		<integer>-120</integer>
		<key>p</key>
		<integer>-90</integer>
		<key>q</key>
		<integer>-120</integer>
		<key>r</key>
		<integer>-90</integer>
		<key>s</key>
		<integer>-90</integer>
		<key>t</key>
		<integer>-65</integer>
		<key>u</key>
		<integer>-90</integer>
		<key>v</key>
		<integer>-90</integer>
		<key>w</key>
		<integer>-90</integer>
		<key>x</key>
		<integer>-90</integer>
		<key>z</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.fvowels</key>
	<dict>
		<key>b</key>
		<integer>20</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>h</key>
		<integer>20</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>k</key>
		<integer>20</integer>
		<key>l</key>
		<integer>20</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.tvowel</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-45</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>n</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>p</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>a</key>
		<integer>-15</integer>
		<key>f</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>100</integer>
		<key>public.kern2.ij</key>
		<integer>221</integer>
		<key>public.kern2.qp</key>
		<integer>60</integer>
		<key>y</key>
		<integer>60</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-25</integer>
		<key>h</key>
		<integer>-20</integer>
		<key>k</key>
		<integer>-20</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-37</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
		<key>public.kern2.qp</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>f</key>
		<integer>-40</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
		<key>public.kern2.qp</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-20</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>public.kern2.ij</key>
		<integer>45</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>f</key>
		<integer>-35</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-35</integer>
		<key>b</key>
		<integer>-35</integer>
		<key>d</key>
		<integer>-35</integer>
		<key>f</key>
		<integer>-35</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>public.kern2.ij</key>
		<integer>-45</integer>
		<key>public.kern2.qp</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-20</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-35</integer>
		<key>b</key>
		<integer>-35</integer>
		<key>d</key>
		<integer>-35</integer>
		<key>f</key>
		<integer>-35</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>public.kern2.ij</key>
		<integer>-45</integer>
		<key>public.kern2.qp</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-20</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>a</key>
		<integer>-35</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-35</integer>
		<key>k</key>
		<integer>-20</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
		<key>public.kern2.qp</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>f</key>
		<integer>-35</integer>
		<key>public.kern2.ij</key>
		<integer>121</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>f</key>
		<integer>-35</integer>
		<key>k</key>
		<integer>-20</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>n</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>public.kern2.ij</key>
		<integer>-21</integer>
		<key>public.kern2.qp</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
