<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.Fvowel</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.Pvowel</key>
	<array>
		<string>P</string>
	</array>
	<key>public.kern1.Tvowel</key>
	<array>
		<string>T</string>
	</array>
	<key>public.kern1.Wvowel</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern1.Yvowel</key>
	<array>
		<string>Y</string>
	</array>
	<key>public.kern1.fvowels</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern2.ij</key>
	<array>
		<string>j</string>
	</array>
	<key>public.kern2.qp</key>
	<array>
		<string>p</string>
	</array>
</dict>
</plist>
