<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>A</key>
		<integer>15</integer>
		<key>B</key>
		<integer>15</integer>
		<key>C</key>
		<integer>-25</integer>
		<key>D</key>
		<integer>15</integer>
		<key>E</key>
		<integer>15</integer>
		<key>F</key>
		<integer>15</integer>
		<key>G</key>
		<integer>-25</integer>
		<key>H</key>
		<integer>15</integer>
		<key>I</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>100</integer>
		<key>K</key>
		<integer>15</integer>
		<key>L</key>
		<integer>15</integer>
		<key>M</key>
		<integer>15</integer>
		<key>N</key>
		<integer>15</integer>
		<key>O</key>
		<integer>-25</integer>
		<key>P</key>
		<integer>15</integer>
		<key>Q</key>
		<integer>-25</integer>
		<key>R</key>
		<integer>15</integer>
		<key>T</key>
		<integer>-82</integer>
		<key>V</key>
		<integer>-56</integer>
		<key>W</key>
		<integer>-56</integer>
		<key>Y</key>
		<integer>-82</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
		<key>T</key>
		<integer>-81</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>-15</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>-41</integer>
		<key>J</key>
		<integer>61</integer>
		<key>M</key>
		<integer>-41</integer>
		<key>V</key>
		<integer>15</integer>
		<key>W</key>
		<integer>15</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-41</integer>
		<key>J</key>
		<integer>61</integer>
		<key>M</key>
		<integer>-41</integer>
		<key>T</key>
		<integer>-81</integer>
		<key>V</key>
		<integer>-41</integer>
		<key>W</key>
		<integer>-41</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>A</key>
		<integer>15</integer>
		<key>J</key>
		<integer>118</integer>
		<key>V</key>
		<integer>15</integer>
		<key>W</key>
		<integer>15</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-82</integer>
		<key>J</key>
		<integer>118</integer>
		<key>M</key>
		<integer>-81</integer>
		<key>V</key>
		<integer>15</integer>
		<key>W</key>
		<integer>15</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>A</key>
		<integer>15</integer>
		<key>J</key>
		<integer>118</integer>
		<key>M</key>
		<integer>15</integer>
		<key>V</key>
		<integer>15</integer>
		<key>W</key>
		<integer>15</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>A</key>
		<integer>15</integer>
		<key>J</key>
		<integer>118</integer>
		<key>M</key>
		<integer>15</integer>
		<key>V</key>
		<integer>15</integer>
		<key>W</key>
		<integer>15</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>A</key>
		<integer>15</integer>
		<key>J</key>
		<integer>118</integer>
		<key>V</key>
		<integer>15</integer>
		<key>W</key>
		<integer>15</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>C</key>
		<integer>-50</integer>
		<key>G</key>
		<integer>-50</integer>
		<key>M</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-50</integer>
		<key>Q</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>15</integer>
		<key>W</key>
		<integer>15</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>A</key>
		<integer>15</integer>
		<key>J</key>
		<integer>118</integer>
		<key>T</key>
		<integer>-118</integer>
		<key>V</key>
		<integer>-82</integer>
		<key>W</key>
		<integer>-82</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>A</key>
		<integer>15</integer>
		<key>J</key>
		<integer>100</integer>
		<key>T</key>
		<integer>-81</integer>
		<key>V</key>
		<integer>-41</integer>
		<key>W</key>
		<integer>-56</integer>
		<key>Y</key>
		<integer>-82</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>A</key>
		<integer>15</integer>
		<key>J</key>
		<integer>118</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-56</integer>
		<key>J</key>
		<integer>61</integer>
		<key>T</key>
		<integer>-56</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>-15</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-82</integer>
		<key>T</key>
		<integer>-56</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>-15</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>A</key>
		<integer>-41</integer>
		<key>J</key>
		<integer>61</integer>
		<key>T</key>
		<integer>-56</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>-15</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>J</key>
		<integer>118</integer>
		<key>T</key>
		<integer>-56</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>-15</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>A</key>
		<integer>-25</integer>
		<key>J</key>
		<integer>61</integer>
		<key>V</key>
		<integer>15</integer>
		<key>W</key>
		<integer>15</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-82</integer>
		<key>C</key>
		<integer>-56</integer>
		<key>F</key>
		<integer>-30</integer>
		<key>G</key>
		<integer>-56</integer>
		<key>M</key>
		<integer>-81</integer>
		<key>O</key>
		<integer>-56</integer>
		<key>T</key>
		<integer>-56</integer>
		<key>V</key>
		<integer>15</integer>
		<key>W</key>
		<integer>15</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>15</integer>
		<key>J</key>
		<integer>118</integer>
		<key>V</key>
		<integer>15</integer>
		<key>W</key>
		<integer>15</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-82</integer>
		<key>M</key>
		<integer>-81</integer>
		<key>T</key>
		<integer>15</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-82</integer>
		<key>M</key>
		<integer>-81</integer>
		<key>T</key>
		<integer>15</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-82</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>J</key>
		<integer>118</integer>
		<key>V</key>
		<integer>15</integer>
		<key>W</key>
		<integer>15</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>j</key>
		<integer>184</integer>
	</dict>
</dict>
</plist>
