<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>W</key>
	<dict>
		<key>a</key>
		<integer>-95</integer>
		<key>c</key>
		<integer>-95</integer>
		<key>d</key>
		<integer>-95</integer>
		<key>e</key>
		<integer>-95</integer>
		<key>f</key>
		<integer>-50</integer>
		<key>g</key>
		<integer>-95</integer>
		<key>i</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>-70</integer>
		<key>l</key>
		<integer>20</integer>
		<key>m</key>
		<integer>-55</integer>
		<key>n</key>
		<integer>-55</integer>
		<key>o</key>
		<integer>-95</integer>
		<key>p</key>
		<integer>-55</integer>
		<key>q</key>
		<integer>-95</integer>
		<key>r</key>
		<integer>-55</integer>
		<key>s</key>
		<integer>-70</integer>
		<key>t</key>
		<integer>-35</integer>
		<key>u</key>
		<integer>-55</integer>
		<key>v</key>
		<integer>-55</integer>
		<key>w</key>
		<integer>-55</integer>
		<key>x</key>
		<integer>-55</integer>
		<key>z</key>
		<integer>-55</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>e</key>
		<integer>-29</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>j</key>
		<integer>-45</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>j</key>
		<integer>-30</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>j</key>
		<integer>120</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>j</key>
		<integer>-30</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>public.kern2.ij</key>
		<integer>-27</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>j</key>
		<integer>120</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>j</key>
		<integer>-45</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>V</key>
		<integer>20</integer>
		<key>W</key>
		<integer>20</integer>
		<key>public.kern2.ij</key>
		<integer>-27</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>public.kern2.ij</key>
		<integer>-27</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>public.kern2.ij</key>
		<integer>-27</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>public.kern2.ij</key>
		<integer>-27</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>public.kern2.ij</key>
		<integer>-27</integer>
	</dict>
	<key>public.kern1.Fvowel</key>
	<dict>
		<key>a</key>
		<integer>-70</integer>
		<key>c</key>
		<integer>-70</integer>
		<key>d</key>
		<integer>-70</integer>
		<key>e</key>
		<integer>-70</integer>
		<key>f</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-70</integer>
		<key>j</key>
		<integer>-45</integer>
		<key>m</key>
		<integer>-35</integer>
		<key>n</key>
		<integer>-35</integer>
		<key>o</key>
		<integer>-70</integer>
		<key>p</key>
		<integer>-35</integer>
		<key>q</key>
		<integer>-70</integer>
		<key>r</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-35</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>x</key>
		<integer>-35</integer>
		<key>z</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.Pvowel</key>
	<dict>
		<key>a</key>
		<integer>-70</integer>
		<key>c</key>
		<integer>-70</integer>
		<key>d</key>
		<integer>-70</integer>
		<key>e</key>
		<integer>-70</integer>
		<key>f</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-70</integer>
		<key>j</key>
		<integer>-45</integer>
		<key>m</key>
		<integer>-35</integer>
		<key>n</key>
		<integer>-35</integer>
		<key>o</key>
		<integer>-70</integer>
		<key>p</key>
		<integer>-35</integer>
		<key>q</key>
		<integer>-70</integer>
		<key>r</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-35</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>x</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-35</integer>
		<key>z</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.Tvowel</key>
	<dict>
		<key>a</key>
		<integer>-160</integer>
		<key>c</key>
		<integer>-160</integer>
		<key>d</key>
		<integer>-160</integer>
		<key>e</key>
		<integer>-160</integer>
		<key>f</key>
		<integer>-80</integer>
		<key>g</key>
		<integer>-160</integer>
		<key>i</key>
		<integer>-160</integer>
		<key>j</key>
		<integer>-190</integer>
		<key>m</key>
		<integer>-160</integer>
		<key>n</key>
		<integer>-160</integer>
		<key>o</key>
		<integer>-160</integer>
		<key>p</key>
		<integer>-160</integer>
		<key>q</key>
		<integer>-160</integer>
		<key>r</key>
		<integer>-160</integer>
		<key>s</key>
		<integer>-160</integer>
		<key>t</key>
		<integer>-80</integer>
		<key>u</key>
		<integer>-160</integer>
		<key>v</key>
		<integer>-160</integer>
		<key>w</key>
		<integer>-160</integer>
		<key>x</key>
		<integer>-160</integer>
		<key>z</key>
		<integer>-160</integer>
	</dict>
	<key>public.kern1.Wvowel</key>
	<dict>
		<key>a</key>
		<integer>-95</integer>
		<key>c</key>
		<integer>-95</integer>
		<key>d</key>
		<integer>-95</integer>
		<key>e</key>
		<integer>-95</integer>
		<key>f</key>
		<integer>-50</integer>
		<key>g</key>
		<integer>-95</integer>
		<key>i</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>-70</integer>
		<key>l</key>
		<integer>20</integer>
		<key>m</key>
		<integer>-55</integer>
		<key>n</key>
		<integer>-55</integer>
		<key>o</key>
		<integer>-95</integer>
		<key>p</key>
		<integer>-55</integer>
		<key>q</key>
		<integer>-95</integer>
		<key>r</key>
		<integer>-55</integer>
		<key>s</key>
		<integer>-70</integer>
		<key>t</key>
		<integer>-35</integer>
		<key>u</key>
		<integer>-55</integer>
		<key>v</key>
		<integer>-55</integer>
		<key>w</key>
		<integer>-55</integer>
		<key>x</key>
		<integer>-55</integer>
		<key>z</key>
		<integer>-55</integer>
	</dict>
	<key>public.kern1.Yvowel</key>
	<dict>
		<key>a</key>
		<integer>-135</integer>
		<key>c</key>
		<integer>-135</integer>
		<key>d</key>
		<integer>-135</integer>
		<key>e</key>
		<integer>-135</integer>
		<key>f</key>
		<integer>-70</integer>
		<key>g</key>
		<integer>-135</integer>
		<key>i</key>
		<integer>-70</integer>
		<key>j</key>
		<integer>-90</integer>
		<key>m</key>
		<integer>-90</integer>
		<key>n</key>
		<integer>-90</integer>
		<key>o</key>
		<integer>-135</integer>
		<key>p</key>
		<integer>-90</integer>
		<key>q</key>
		<integer>-135</integer>
		<key>r</key>
		<integer>-90</integer>
		<key>s</key>
		<integer>-100</integer>
		<key>t</key>
		<integer>-70</integer>
		<key>u</key>
		<integer>-90</integer>
		<key>v</key>
		<integer>-90</integer>
		<key>w</key>
		<integer>-90</integer>
		<key>x</key>
		<integer>-90</integer>
		<key>z</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.fvowels</key>
	<dict>
		<key>B</key>
		<integer>10</integer>
		<key>D</key>
		<integer>10</integer>
		<key>E</key>
		<integer>10</integer>
		<key>F</key>
		<integer>20</integer>
		<key>K</key>
		<integer>20</integer>
		<key>L</key>
		<integer>20</integer>
		<key>M</key>
		<integer>20</integer>
		<key>V</key>
		<integer>46</integer>
		<key>W</key>
		<integer>46</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>20</integer>
		<key>c</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>h</key>
		<integer>20</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>k</key>
		<integer>20</integer>
		<key>l</key>
		<integer>20</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>q</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.tvowel</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>q</key>
		<integer>-10</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>p</key>
		<integer>60</integer>
		<key>public.kern2.ij</key>
		<integer>220</integer>
		<key>y</key>
		<integer>60</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>c</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>public.kern2.ij</key>
		<integer>-27</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>public.kern2.ij</key>
		<integer>-27</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>public.kern2.ij</key>
		<integer>-27</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-30</integer>
		<key>public.kern2.ij</key>
		<integer>-45</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-30</integer>
		<key>public.kern2.ij</key>
		<integer>-45</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>public.kern2.ij</key>
		<integer>-45</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>public.kern2.ij</key>
		<integer>120</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>public.kern2.ij</key>
		<integer>-45</integer>
	</dict>
</dict>
</plist>
