<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>O</key>
      <integer>-5</integer>
      <key>T</key>
      <integer>-30</integer>
      <key>slash</key>
      <integer>50</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>T</key>
      <integer>-20</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>backslash</key>
      <integer>50</integer>
      <key>slash</key>
      <integer>20</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>Y</key>
      <integer>-10</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>backslash</key>
      <integer>50</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>J</key>
      <integer>-60</integer>
      <key>O</key>
      <integer>-5</integer>
      <key>a</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>50</integer>
      <key>c</key>
      <integer>-20</integer>
      <key>d</key>
      <integer>-20</integer>
      <key>e</key>
      <integer>-20</integer>
      <key>g</key>
      <integer>-20</integer>
      <key>n</key>
      <integer>-20</integer>
      <key>o</key>
      <integer>-20</integer>
      <key>q</key>
      <integer>-20</integer>
      <key>r</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>u</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>y</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
      <key>slash</key>
      <integer>20</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>backslash</key>
      <integer>30</integer>
    </dict>
    <key>I</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-70</integer>
      <key>V</key>
      <integer>-30</integer>
      <key>W</key>
      <integer>-30</integer>
      <key>quotedbl</key>
      <integer>-30</integer>
      <key>slash</key>
      <integer>20</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>T</key>
      <integer>-20</integer>
      <key>X</key>
      <integer>-10</integer>
      <key>Y</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>J</key>
      <integer>-50</integer>
      <key>a</key>
      <integer>-40</integer>
      <key>c</key>
      <integer>-40</integer>
      <key>d</key>
      <integer>-40</integer>
      <key>e</key>
      <integer>-40</integer>
      <key>g</key>
      <integer>-40</integer>
      <key>n</key>
      <integer>-40</integer>
      <key>o</key>
      <integer>-40</integer>
      <key>p</key>
      <integer>-40</integer>
      <key>q</key>
      <integer>-40</integer>
      <key>r</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-40</integer>
      <key>slash</key>
      <integer>-30</integer>
      <key>u</key>
      <integer>-40</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>w</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-30</integer>
      <key>y</key>
      <integer>-40</integer>
      <key>z</key>
      <integer>-40</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>a</key>
      <integer>-30</integer>
      <key>c</key>
      <integer>-30</integer>
      <key>d</key>
      <integer>-30</integer>
      <key>e</key>
      <integer>-30</integer>
      <key>g</key>
      <integer>-30</integer>
      <key>o</key>
      <integer>-30</integer>
      <key>q</key>
      <integer>-30</integer>
      <key>s</key>
      <integer>-30</integer>
      <key>u</key>
      <integer>-30</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>w</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>y</key>
      <integer>-30</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-30</integer>
      <key>C</key>
      <integer>-20</integer>
      <key>G</key>
      <integer>-20</integer>
      <key>J</key>
      <integer>-70</integer>
      <key>O</key>
      <integer>-20</integer>
      <key>a</key>
      <integer>-70</integer>
      <key>backslash</key>
      <integer>30</integer>
      <key>c</key>
      <integer>-70</integer>
      <key>d</key>
      <integer>-70</integer>
      <key>e</key>
      <integer>-70</integer>
      <key>g</key>
      <integer>-70</integer>
      <key>hyphen</key>
      <integer>-50</integer>
      <key>n</key>
      <integer>-70</integer>
      <key>o</key>
      <integer>-70</integer>
      <key>p</key>
      <integer>-70</integer>
      <key>q</key>
      <integer>-70</integer>
      <key>r</key>
      <integer>-70</integer>
      <key>s</key>
      <integer>-70</integer>
      <key>slash</key>
      <integer>-30</integer>
      <key>t</key>
      <integer>-50</integer>
      <key>u</key>
      <integer>-70</integer>
      <key>v</key>
      <integer>-40</integer>
      <key>w</key>
      <integer>-40</integer>
      <key>x</key>
      <integer>-50</integer>
      <key>y</key>
      <integer>-70</integer>
      <key>z</key>
      <integer>-70</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>backslash</key>
      <integer>30</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>J</key>
      <integer>-20</integer>
      <key>a</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>40</integer>
      <key>c</key>
      <integer>-20</integer>
      <key>d</key>
      <integer>-20</integer>
      <key>e</key>
      <integer>-20</integer>
      <key>g</key>
      <integer>-20</integer>
      <key>hyphen</key>
      <integer>-30</integer>
      <key>n</key>
      <integer>-20</integer>
      <key>o</key>
      <integer>-20</integer>
      <key>p</key>
      <integer>-20</integer>
      <key>q</key>
      <integer>-20</integer>
      <key>r</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>u</key>
      <integer>-20</integer>
      <key>y</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>J</key>
      <integer>-20</integer>
      <key>a</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>40</integer>
      <key>c</key>
      <integer>-20</integer>
      <key>d</key>
      <integer>-20</integer>
      <key>e</key>
      <integer>-20</integer>
      <key>g</key>
      <integer>-20</integer>
      <key>hyphen</key>
      <integer>-30</integer>
      <key>n</key>
      <integer>-20</integer>
      <key>o</key>
      <integer>-20</integer>
      <key>p</key>
      <integer>-20</integer>
      <key>q</key>
      <integer>-20</integer>
      <key>r</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>u</key>
      <integer>-20</integer>
      <key>y</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>O</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>40</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-10</integer>
      <key>J</key>
      <integer>-30</integer>
      <key>a</key>
      <integer>-40</integer>
      <key>backslash</key>
      <integer>40</integer>
      <key>c</key>
      <integer>-40</integer>
      <key>d</key>
      <integer>-40</integer>
      <key>e</key>
      <integer>-40</integer>
      <key>g</key>
      <integer>-40</integer>
      <key>hyphen</key>
      <integer>-30</integer>
      <key>n</key>
      <integer>-40</integer>
      <key>o</key>
      <integer>-40</integer>
      <key>p</key>
      <integer>-40</integer>
      <key>q</key>
      <integer>-40</integer>
      <key>r</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-40</integer>
      <key>u</key>
      <integer>-40</integer>
      <key>v</key>
      <integer>-10</integer>
      <key>w</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>y</key>
      <integer>-40</integer>
      <key>z</key>
      <integer>-40</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>backslash</key>
      <integer>-100</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>A</key>
      <integer>50</integer>
      <key>T</key>
      <integer>-30</integer>
      <key>b</key>
      <integer>10</integer>
      <key>m</key>
      <integer>10</integer>
      <key>n</key>
      <integer>10</integer>
      <key>r</key>
      <integer>10</integer>
      <key>u</key>
      <integer>10</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>backslash</key>
      <integer>-80</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>d</key>
    <dict>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>backslash</key>
      <integer>-80</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>backslash</key>
      <integer>90</integer>
      <key>f</key>
      <integer>40</integer>
      <key>t</key>
      <integer>28</integer>
      <key>v</key>
      <integer>20</integer>
      <key>w</key>
      <integer>20</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>hyphen</key>
    <dict>
      <key>T</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-30</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>a</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>-30</integer>
      <key>c</key>
      <integer>-20</integer>
      <key>d</key>
      <integer>-20</integer>
      <key>g</key>
      <integer>-20</integer>
      <key>o</key>
      <integer>-20</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>backslash</key>
      <integer>-100</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>backslash</key>
      <integer>-100</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>quotedbl</key>
    <dict>
      <key>A</key>
      <integer>-30</integer>
      <key>J</key>
      <integer>-40</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>backslash</key>
      <integer>-60</integer>
      <key>v</key>
      <integer>10</integer>
      <key>w</key>
      <integer>10</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>J</key>
      <integer>-30</integer>
      <key>a</key>
      <integer>-70</integer>
      <key>c</key>
      <integer>-70</integer>
      <key>d</key>
      <integer>-70</integer>
      <key>e</key>
      <integer>-70</integer>
      <key>f</key>
      <integer>-20</integer>
      <key>g</key>
      <integer>-70</integer>
      <key>m</key>
      <integer>-60</integer>
      <key>n</key>
      <integer>-60</integer>
      <key>o</key>
      <integer>-70</integer>
      <key>p</key>
      <integer>-60</integer>
      <key>q</key>
      <integer>-70</integer>
      <key>r</key>
      <integer>-60</integer>
      <key>s</key>
      <integer>-60</integer>
      <key>u</key>
      <integer>-60</integer>
      <key>v</key>
      <integer>-40</integer>
      <key>w</key>
      <integer>-40</integer>
      <key>x</key>
      <integer>-40</integer>
      <key>y</key>
      <integer>-60</integer>
      <key>z</key>
      <integer>-70</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>a</key>
      <integer>-10</integer>
      <key>f</key>
      <integer>28</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>backslash</key>
      <integer>-60</integer>
      <key>f</key>
      <integer>20</integer>
      <key>t</key>
      <integer>10</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>backslash</key>
      <integer>-60</integer>
      <key>f</key>
      <integer>20</integer>
      <key>t</key>
      <integer>10</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>a</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>-60</integer>
      <key>c</key>
      <integer>-10</integer>
      <key>d</key>
      <integer>-10</integer>
      <key>e</key>
      <integer>-10</integer>
      <key>g</key>
      <integer>-10</integer>
      <key>o</key>
      <integer>-10</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>backslash</key>
      <integer>-80</integer>
      <key>f</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
