<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>700</integer>
    <key>capHeight</key>
    <integer>650</integer>
    <key>descender</key>
    <integer>-300</integer>
    <key>familyName</key>
    <string>TAS Beginner</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>v8MQ4iX7aS</string>
        <key>x</key>
        <integer>460</integer>
        <key>y</key>
        <integer>350</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>z4c99hg1wb</string>
        <key>x</key>
        <integer>467</integer>
        <key>y</key>
        <integer>650</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>VPlRIdnU0f</string>
        <key>x</key>
        <integer>124</integer>
        <key>y</key>
        <integer>175</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>-14.0</real>
    <key>openTypeHeadCreated</key>
    <string>2022/02/28 16:51:29</string>
    <key>openTypeNameDescription</key>
    <string>TAS School Handwriting (Beginner)</string>
    <key>openTypeNameDesigner</key>
    <string>Tina &amp; Corey Anderson</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeNameSampleText</key>
    <string>ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwyxz</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array>
      <real>-4.0</real>
      <real>0.0</real>
      <real>350.0</real>
      <real>354.0</real>
      <real>650.0</real>
      <real>654.0</real>
      <real>700.0</real>
      <real>704.0</real>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>TASBeginner-Regular</string>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-304.0</real>
      <real>-300.0</real>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>50.0</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>46.0</real>
    </array>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Extrabold</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>350</integer>
  </dict>
</plist>
