<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.H_right</key>
    <array>
      <string>H</string>
      <string>M</string>
      <string>N</string>
      <string>U</string>
      <string>J</string>
    </array>
    <key>public.kern1.O_right</key>
    <array>
      <string>O</string>
      <string>D</string>
      <string>Q</string>
    </array>
    <key>public.kern1.V_right</key>
    <array>
      <string>V</string>
      <string>W</string>
    </array>
    <key>public.kern1.colon_right</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.hyphen_right</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>underscore</string>
    </array>
    <key>public.kern1.n_right</key>
    <array>
      <string>n</string>
      <string>m</string>
      <string>h</string>
      <string>u</string>
      <string>y</string>
      <string>a</string>
    </array>
    <key>public.kern1.o_right</key>
    <array>
      <string>o</string>
      <string>p</string>
      <string>b</string>
    </array>
    <key>public.kern1.period_right</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern1.quote_right</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.v_right</key>
    <array>
      <string>v</string>
      <string>w</string>
    </array>
    <key>public.kern2.H_left</key>
    <array>
      <string>H</string>
      <string>D</string>
      <string>B</string>
      <string>E</string>
      <string>F</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>R</string>
      <string>U</string>
      <string>P</string>
    </array>
    <key>public.kern2.O_left</key>
    <array>
      <string>O</string>
      <string>Q</string>
      <string>C</string>
      <string>G</string>
    </array>
    <key>public.kern2.V_left</key>
    <array>
      <string>V</string>
      <string>W</string>
    </array>
    <key>public.kern2.colon_left</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.h_left</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
    </array>
    <key>public.kern2.hyphen_left</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>underscore</string>
    </array>
    <key>public.kern2.n_left</key>
    <array>
      <string>n</string>
      <string>m</string>
      <string>p</string>
      <string>r</string>
      <string>u</string>
      <string>y</string>
    </array>
    <key>public.kern2.o_left</key>
    <array>
      <string>o</string>
      <string>q</string>
      <string>a</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>g</string>
    </array>
    <key>public.kern2.period_left</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern2.quote_left</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.v_left</key>
    <array>
      <string>v</string>
      <string>w</string>
    </array>
  </dict>
</plist>
