<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-30</integer>
      <key>public.kern2.O_left</key>
      <integer>-5</integer>
      <key>slash</key>
      <integer>50</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>T</key>
      <integer>-20</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>backslash</key>
      <integer>50</integer>
      <key>slash</key>
      <integer>20</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>backslash</key>
      <integer>50</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>J</key>
      <integer>-60</integer>
      <key>backslash</key>
      <integer>50</integer>
      <key>public.kern2.O_left</key>
      <integer>-5</integer>
      <key>public.kern2.n_left</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
      <key>slash</key>
      <integer>20</integer>
    </dict>
    <key>I</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-70</integer>
      <key>public.kern2.V_left</key>
      <integer>-30</integer>
      <key>quotedbl</key>
      <integer>-30</integer>
      <key>slash</key>
      <integer>20</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>J</key>
      <integer>-50</integer>
      <key>public.kern2.n_left</key>
      <integer>-40</integer>
      <key>public.kern2.o_left</key>
      <integer>-40</integer>
      <key>public.kern2.v_left</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-40</integer>
      <key>slash</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>-30</integer>
      <key>z</key>
      <integer>-40</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>public.kern2.o_left</key>
      <integer>-30</integer>
      <key>public.kern2.v_left</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-30</integer>
      <key>J</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>30</integer>
      <key>hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.n_left</key>
      <integer>-70</integer>
      <key>public.kern2.o_left</key>
      <integer>-70</integer>
      <key>public.kern2.v_left</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-70</integer>
      <key>slash</key>
      <integer>-30</integer>
      <key>t</key>
      <integer>-50</integer>
      <key>x</key>
      <integer>-50</integer>
      <key>z</key>
      <integer>-70</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
      <key>public.kern2.O_left</key>
      <integer>-10</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-10</integer>
      <key>J</key>
      <integer>-30</integer>
      <key>backslash</key>
      <integer>40</integer>
      <key>hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.n_left</key>
      <integer>-40</integer>
      <key>public.kern2.o_left</key>
      <integer>-40</integer>
      <key>public.kern2.v_left</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-40</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-40</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>f</key>
      <integer>20</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>A</key>
      <integer>50</integer>
      <key>T</key>
      <integer>-30</integer>
      <key>public.kern2.n_left</key>
      <integer>10</integer>
    </dict>
    <key>braceleft</key>
    <dict>
      <key>j</key>
      <integer>110</integer>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>j</key>
      <integer>110</integer>
    </dict>
    <key>bullet</key>
    <dict>
      <key>f</key>
      <integer>40</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>backslash</key>
      <integer>-80</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>d</key>
    <dict>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>backslash</key>
      <integer>-80</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>ampersand</key>
      <integer>20</integer>
      <key>asterisk</key>
      <integer>80</integer>
      <key>backslash</key>
      <integer>90</integer>
      <key>braceright</key>
      <integer>70</integer>
      <key>bracketright</key>
      <integer>70</integer>
      <key>bullet</key>
      <integer>40</integer>
      <key>exclam</key>
      <integer>60</integer>
      <key>f</key>
      <integer>40</integer>
      <key>parenright</key>
      <integer>70</integer>
      <key>public.kern2.v_left</key>
      <integer>20</integer>
      <key>question</key>
      <integer>70</integer>
      <key>quotedbl</key>
      <integer>80</integer>
      <key>quotesingle</key>
      <integer>80</integer>
      <key>t</key>
      <integer>38</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>hyphen</key>
    <dict>
      <key>T</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-30</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>backslash</key>
      <integer>-30</integer>
      <key>public.kern2.o_left</key>
      <integer>-20</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>backslash</key>
      <integer>40</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>j</key>
      <integer>110</integer>
    </dict>
    <key>public.kern1.H_right</key>
    <dict>
      <key>backslash</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.O_right</key>
    <dict>
      <key>X</key>
      <integer>-10</integer>
      <key>Y</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.V_right</key>
    <dict>
      <key>J</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>40</integer>
      <key>hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.n_left</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.n_right</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.o_right</key>
    <dict>
      <key>backslash</key>
      <integer>-100</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.v_right</key>
    <dict>
      <key>backslash</key>
      <integer>-60</integer>
      <key>f</key>
      <integer>20</integer>
      <key>t</key>
      <integer>10</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
      <key>slash</key>
      <integer>10</integer>
    </dict>
    <key>quotedbl</key>
    <dict>
      <key>A</key>
      <integer>-30</integer>
      <key>J</key>
      <integer>-40</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>backslash</key>
      <integer>-60</integer>
      <key>public.kern2.v_left</key>
      <integer>10</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>J</key>
      <integer>-30</integer>
      <key>f</key>
      <integer>-20</integer>
      <key>public.kern2.n_left</key>
      <integer>-60</integer>
      <key>public.kern2.o_left</key>
      <integer>-70</integer>
      <key>public.kern2.v_left</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-60</integer>
      <key>x</key>
      <integer>-40</integer>
      <key>z</key>
      <integer>-70</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>backslash</key>
      <integer>-60</integer>
      <key>public.kern2.o_left</key>
      <integer>-10</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>backslash</key>
      <integer>-80</integer>
      <key>f</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
